html, body, #root {
  height: 100%;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  align-items: stretch;
  border-bottom: 1px solid gray;
}

.navbar-item {
  font-size: 20px;
  margin-right: 20px;
  padding: 10px;
}

.navbar-item:last-child {
  margin-right: 5%;
}

.navbar-item:hover {
  cursor: pointer;
  color: #94BBE9;
}